@keyframes slide-in {
  from {
    transform: translate(100%);
  }
  to {
    transform: translate(0%);
  }
}

@keyframes slide-out {
  from {
    transform: translate(0%);
  }
  to {
    transform: translate(100%);
  }
}
