.contact {
  h1 {
    padding-bottom: 40px;
    font-size: 30px;
  }
  &__flex {
    display: flex;
    flex-direction: column;
    position: relative;
  }

  &__headline {
    padding-bottom: 20px;
    p {
      font-size: 18px;
      padding-bottom: 20px;
      font-weight: 600;
    }
  }

  &__form {
    position: relative;
    p {
      font-size: 14px;
      padding: 15px 0 5px 0;
      margin-left: 20px;
      font-weight: 600;
    }

    input[type="text"],
    input[type="email"],
    textarea {
      width: 100%;
      padding: 0 20px;
      outline: none;
      line-height: 40px;
      border-bottom-width: 3px;
      border: 1px solid $primary_color_three;
      transition: all 300ms ease-in-out;
    }

    input[type="Submit"] {
      padding: 0 0;
      transition: 300ms ease-in;

      &:hover {
        padding: 10px 45px;
      }
    }
  }
}
