.intro {
  position: relative;
  background-image: url(../../img/intro--bg.jpg);
  background-size: cover;
  z-index: 1;

  .overlay {
    opacity: 0.6;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: $primary_color_one;
    z-index: -1;
  }
  p {
    font-size: 16px;
    font-weight: 400;
    &:first-child {
      padding-bottom: 40px;
    }
  }
}
