// COLORS
//$primary_color_one: #f1faee;
$primary_color_one: #fff;
//$primary_color_two: #a8dadc;
$primary_color_two: #fff;
$primary_color_three: #1d3557;

$secondary_color: #457b9d;

$accent_color_one: #e42535;
$accent_color_two: #ffcc33;

// FONTS
// $large_font: ;
// $medium_font: ;
// $small_font: ;
